.bottom_menu {
  width: 100vw;
  height: 70px;
  background-color: white;
  box-shadow: 0px -3px 2px 1px rgba(135, 135, 135, 0.55);
  -webkit-box-shadow: 0px -3px 2px 1px rgba(135, 135, 135, 0.55);
  -moz-box-shadow: 0px -3px 2px 1px rgba(135, 135, 135, 0.55);
  font-size: 17px;
  line-height: 25px;
  color: #626262;

  margin: 0 auto;
  max-width: 768px;

  position: fixed;
  bottom: 0px;
  z-index: 1;
}
.bottom_menu > ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  align-items: center;
  padding: 10px;
}

.inner > i {
  font-size: 20px;
}
